.label {
	position: relative;
	border: 1px solid #bc98ea;
	padding: 10px 20px;
	width: 400px;
	height: 300px;
	color: #bc98ea;
	font-size: 16px;
	background-color: #2f3031;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
	border-radius: 1rem;
	cursor: pointer;

	input {
		width: 0.01px;
		height: 0.01px;
		position: absolute;
		right: 0;
		bottom: 0;
	}

	&.active {
		background-color: #737373;
	}

	&.error {
		border-color: #bc3174;
		color: #bc3174;
	}
}
